# specify the redirect_uri in Spotify Web API dashboard as http://localhost:3000/api/auth/callback/spotify and http://localhost:3000/ or your production URL
# specify your own SPOTIFY_CLIENT_ID and SPOTIFY_CLIENT_SECRET.
# for NEXTAUTH_SECRET, you can generate one by running `openssl rand -base64 32` in your terminal.
# NEXTAUTH_URL is the root URL of your app.

SPOTIFY_CLIENT_ID=YOUR SPOTIFY CLIENT ID
SPOTIFY_CLIENT_SECRET=YOUR CLIENT SECRET
NEXTAUTH_SECRET=NEXTAUTH SECRET
SPOTIFY_API_SCOPES=user-read-private user-read-email user-top-read playlist-read-private user-read-recently-played
SPOTIFY_REFRESH_TOKEN_URL=https://accounts.spotify.com/api/token
NEXTAUTH_URL=YOUR ROOT URL
